body
{
    font-family: 'Raleway', sans-serif;
}

/**start navbar*/
.scrltest
{
    background-color:rgba(0,0,0,0.5);
    border:transparent ;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 20px;

}
.navbar-brand span
{
    color: #ff8b38;
}
/**end navbar*/


/* start headr */

.header .line_border
{
   width: 60px;
    height: 3px;
   margin-bottom: 25px;
   background: #fff;
}

@media(max-width:767px)
{
.header .line_border
{
   width: 60px;
    height: 3px;
   margin:auto;
   background: #fff;
    margin-bottom: 20px;
}
}
@media(max-width:767px)
{
    .small-text-cntr
    {
        text-align:center;
    }
}


.header
{
    background-image: url(../img/hed.jpg);
    background-size:cover;
    height: 90vh;
    color: #fff;
    position: relative;
    overflow: hidden;

}
.ovrly
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.5); 
    padding-top: 100px;
    
}
.header h1
{
    font-weight: bold;
    font-size: 65px;
}
.header span
{
    font-weight: normal;
    color: #ff8b38;
}
.header .prg1
{
    font-size: 30px;
}
.header .prag2
{
  color: #ccc;
  line-height: 1.5;
    font-family: tahoma;
    margin-bottom: 30px;
    
}
.btn1
{
    border-radius: 0;
    background-color: transparent;
    border: #fff 2px solid;
    
}

.header form 
{
    width: 360px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 50px;
}
.header h3
{
    background: #f5f5f5;
    color: #333;
    font-size: 18px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 30px;
}

.header .form-control
{
    border-radius: 0;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 0 auto 40px;
}

form  .btn
{
    background-color:#ff8b38;
    border-radius: 0;
    padding: 10px;
}
form  .btn:hover
{
    background-color:#ff8b38;
    border-radius: 0;
    padding: 10px;
    color: #fff;
}
/* end headr */

/**start sicial**/
.social
{
    
    padding: 10px;
    background-color: #fff;
/*    box-shadow:-2px -5px 13px black;*/
}
.social .fa 
{
    margin-top: 20px;
    padding-left: 40px;
    color: #ccc;
    transition: all ease-in-out 0.5s ;
    
}
.social .fa:hover
{
    color:#ff8b38;
}

.social h4
{
    font-weight: bold;
    margin-bottom: 5px;
    
}
.social p
{
    color: #a1a1a1;;
    line-height: 1.4;
}


/**end social**/



/**start tabs **/

.tabs
{
    background-color: #f5f5f5;
    padding: 80px;
}
.ul-tab li 
{
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #fff;
    height: 110px;
    line-height: 110px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
.ul-tab li:hover{
      background-color: #FF9F4D;
    transition: all 0.5s ease-in-out;
}
.ul-tab li.active
{
  background-color: #FF9F4D;   
}
.cont-tab h3
{
    font-weight: bold;
    margin-bottom: 20px;
    
}

.cont-tab p
{
    line-height: 1.5;
    font-size: 15px;
    color: #7e7e7e;
    margin-bottom: 40px;
}
.cont-tab button
{
    background-color:#FF9F4D; 
    border: 1px solid #FF9F4D;
    color: aliceblue;
    border-radius: 0px;
    
}

.cont-tab div:not(.cont-one)
{
    display: none;
}

.cont-tab  
{
   padding-left: 50px;
    
}
/**end tabs**/



/**start sublist **/
.sublit
{
    padding: 80px;
}
.buld2
{
    margin-top: 70px;
    width: 350px;
    opacity: 0.9;
    box-shadow: 3px 10px 10px 5px #ccc;
}
.info
{
    padding-right: 30px;
}
.line:after
{
    content: "";
    margin: 25px 0;
    width: 50px;
    height: 3px;
    background-color: #FF9F4D;
    display: block;
}
.sublit h3
{
    font-weight: bold;
}
.sublit .prgdesc
{
    color: #7e7e7e;
    line-height: 1.7;
    margin-bottom: 30px;
}
.sublit .inerp
{
    color: #7e7e7e;
    
}
.sublit i
{
    width: 40px;
    height: 40px;
    border: 2px solid #FF9F4D;
    color: #FF9F4D;
    line-height: 35px;
    text-align:center;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.sublit i:hover{
    background-color: #FF9F4D;
    color: #fff;
    transition: all 0.5s ease-in-out;
}


/**end sublist**/

/** start standard**/
.standard
{
  background-color: #f5f5f5;
    padding: 80px;
}
.buld3
{
    width: 350px;
    opacity: 0.8;
    box-shadow: 3px 10px 10px 5px #ccc;
    margin-top: 30px;
}
.standard h3
{
    font-weight: bold;
}
.standard .prgdesc
{
    color: #7e7e7e;
    line-height: 1.7;
    margin-bottom: 20px;
     font-size: 13px;

   
}

/** start standard**/

/**start awsome**/
.line1:after
{
    content: "";
    margin: 25px auto;
    width: 50px;
    height: 3px;
    background-color: #FF9F4D;
    display: block;
}
.awsome
{
    padding: 80px;
    background-color: #fff;
}
.awsome h2
{
    text-transform: uppercase;
}

.awsome p
{
    color: #7e7e7e;
}
.awsomedesc
{
    margin-bottom: 60px;
}

.awsome h4
{
    margin-bottom: 20px;
    font-weight: 600;
}
.awsome i
{
    width: 70px;
    height: 70px;
    border: 2px solid #FF9F4D;
    color: #FF9F4D;
    line-height: 70px;
    text-align:center;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    margin-bottom: 20px;
}
.awsome i:hover{
    background-color: #FF9F4D;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

/**end awsome**/

/**start price**/
.price
{
    padding: 80px;
    background-color: #f5f5f5;
    
}
.price h2 
{
    text-transform: uppercase;
}
.pricedesc
{
 margin-bottom: 60px;   
}
.price p
{
  color: #7e7e7e;
}


.big-box h4
{
    background-color: #3A393A;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 0;
    padding: 20px 0;
    font-weight: bold;
}
.inr-box1
{

    padding: 20px;
    background-color:#3A393A;
    color: #fff;
    border-bottom: 4px solid #FF9F4D; 
}
.numbg
{
  font-size: 70px;
  font-weight: bold;
}
.sign
{
     font-size: 20px;
    font-weight: bold;
}
.prid
{
     color: #ccc;
    display: block;
    font-style: italic;
    
}
.inr-box2
{
    padding-top:15px;
    background-color: #fff;

}
.price ul li 
{
     color: #8c8c8c;
      border-bottom: 1px solid #f5f5f5;
     text-transform: uppercase;
      padding: 10px;
}
.spchial
{
    background-color:#FF9F4D;
    color: #fff;
    padding: 5px ;
    
}
.btom
{
    margin-top: 50px;
}
/**end price**/

/**start saying**/
.saying
{
    padding: 80px;
    background-color: #fff;

}
.saying h2
{
    text-transform: uppercase;
}
.sayingdesc
{
    color: #7e7e7e;
    margin-bottom: 60px;  
}
.preson
{
    padding: 30px;
    background-color: #f5f5f5;
    color: #888;
    font-style: italic;
    position: relative;
    margin-bottom: 20px;
}

.mngr-pic
{
    width: 60px;
    height:60px;
    border-radius: 50%;
}
.preson:after
{
    content: '';
    width: 0;
    height: 0;
    display: block;
    border: solid;
    border-width: 15px;
    position: absolute;
    bottom:-30px;
    left: 15px;
    border-color: #f5f5f5 transparent transparent transparent;
    text-align: center
    
}
.media-heading
{
/*    margin-bottom: 20px;*/
    font-weight: bold;
}
.media-body p
{
    color:#7e7e7e; 
}


@media (max-width:767px){
    .text-center-xs
    {
    
        text-align: center;
        
    }
    
    
}
/**end saying**/ 


/**strat stylish**/
.stylish
{
    background-image: url(../img/styleshpic.jpg);
    background-size:cover;
    height: 100vh;
    color: #fff;
    position: relative;
    overflow: hidden;
    height: 320px;

}
.ovrly
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.7); 
    padding: 50px;
    
}

.stylish h1
{
    font-weight: bold;
    font-size: 65px;
    margin: 0;
    padding: 0;
}

.stylish .prag2
{
  color: #ccc;
  line-height: 1.5;
   margin-bottom: 20px;
    font-family: sans-serif;
    
}
.btn1
{
    border-radius: 0;
    background-color: transparent;
    border: #fff 2px solid;
    font-family: sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    
}
.btn1:hover
{
    border: #FF9F4D 2px solid;   
    color: #fff;
}
.line-white:after
{
    content: "";
    margin: 20px auto;
    width: 60px;
    height: 3px;
    background-color: #fff;
    display: block;
}

/**end stylish**/

/**strat contact**/
.contact
{
    padding: 80px;
}
.contact h1
{
    font-weight: bold;
    font-size: 65px;
    margin: 0;
    padding: 0;
}

.contact.prag2
{
  color: #ccc;
  line-height: 1.5;
   margin-bottom: 30px;
    font-family: sans-serif;
    
}
.btn-contact
{
    border-radius: 5px;
    background-color: #FF9F4D;
    border: #FF9F4D 2px solid;
    font-family: sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    margin-top: 30px;
    margin: auto;
}
.btn-contact:hover
{
    border: #FF9F4D 2px solid;   
    color: #fff;
}

.contact .form-control
{
    border-radius: 0;
    border:0;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 0 auto 40px;
    margin-top: 20px;
}
.contact form textarea 
{
    height: 180px;
    border-bottom: 1px solid #ccc;
}

/**end contact**/

/**start foot**/
.footer
{
    background: #000;
    color: #ccc;
    padding: 15px;
}
.fa 
{
    padding-left: 2px;
     padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
/**end foot**/



@media (max-width: 1200px) 
{
    .header form
    {
        width: 0;
    }
    .price
    {
        padding: 0;
    }
    .header 
    {
        height: 40vh;
    }
    
}
@media (max-width: 767px) 
{
    .header h1
    {
       font-size: 40px;
        
    }
    .header p
    {
        display: none;
    }
    
}
